# ignore all files starting with . or ~
.*
~*

# considering .gitignore file
!.gitignore

# ignore Editor files
.vscodes/
.idea/


# ignore debug and build directory
build/
debug/

# ignore log files and databases
*.log
*.sql
*.sqlite

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore private/secret files
*.der
*.key
*.pem

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps